#mask-er-size {
  position: absolute;
  top: 10px;
  left: 904px;
  border: 1px solid red;
}

#layout {
  position: absolute;
  width: 1700px;
  height: 1200px;
  left: 10px;
  top: 10px;
  border: 1px solid black;
}

#images {
  position: absolute;
  width: 400px;
  height: 35px;
  left: 0px;
  top: 0px;
  border: 1px solid black;
}

#xScale {
  position: absolute;
  width: 400px;
  height: 35px;
  left: 0px;
  top: 37px;
  border: 1px solid black;
}

#yScale {
  position: absolute;
  width: 400px;
  height: 35px;
  left: 0px;
  top: 74px;
  border: 1px solid black;
}

#results {
  position: absolute;
  width: 400px;
  height: 800px;
  left: 0px;
  top: 111px;
  border: 1px solid black;
}

.canvasSize {
  width: 480px;
  height: 360px;
  border: 1px solid black;
}

.result {
  padding: 2px;
  margin 2px;
  border-bottom: 1px solid black;
}

#image {
  position: absolute;
  left: 404px;
  top: 0px;
}
