#mask-er-size {
  position: absolute;
  top: 10px;
  left: 700px;
  border: 1px solid red;
}

.imageSize {
  visibility: show;
  height: 300px;
  border: 1px solid red;
}

.canvas {
  border:1px solid #d3d3d3;
  margin-right:10px;
  margin-bottom:20px; 
}

#layout {
  position: absolute;
  width: 1700px;
  height: 1200px;
  left: 10px;
  top: 10px;
  border: 1px solid black;
}

#affects {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 0px;
  top: 0px;
  border: 1px solid black;
}

#images {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 0px;
  top: 37px;
  border: 1px solid black;
}

#xScale {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 0px;
  top: 74px;
  border: 1px solid black;
}

#yScale {
  position: absolute;
  width: 200px;
  height: 35px;
  left: 0px;
  top: 111px;
  border: 1px solid black;
}

#results {
  position: absolute;
  width: 200px;
  height: 800px;
  left: 0px;
  top: 160px;
  border: 1px solid black;
}

.result {
  padding: 2px;
  margin 2px;
  border-bottom: 1px solid black;
}

#image {
  position: absolute;
  left: 204px;
  top: 0px;
}

#maskErSize {
  position: absolute;
  left: 690px;
  top: 0px;
}

.canvasSize {
  width: 480px;
  height: 360px;
  border: 1px solid black;
}

#displayImages {
  position: absolute;
  width: 800px;
  height: 400px;
  left: 204px;
  top: 364px;
  border: 1px solid black;
}
